*{
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 75%;
}

.App{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    justify-content: center;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-right: solid black 2px;
    background-color: #689F9D;
}

.right-bar {
    text-align: center;
    /* align-items: center; */
    background-color: #68869F;
    display: grid;
    /* grid-template-rows: 5% 95%;
    grid-template-areas: 
    'nav'
    'details'; */
}

.nav-bar {
    border-bottom: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #686A9F;
    color: white;
    grid-area: nav;
}

a:link {
    text-decoration: none;
    color: white;
}

.inventory-grid {
    padding: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border: solid gray 1px;
    height: 100vh;
    justify-content: center;
}

.grid-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.inventory-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}