*{
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 75%;
}

.App{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    justify-content: center;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-right: solid black 2px;
    background-color: #689F9D;
}

.right-bar {
    text-align: center;
    /* align-items: center; */
    background-color: #68869F;
    display: grid;
    /* grid-template-rows: 5% 95%;
    grid-template-areas: 
    'nav'
    'details'; */
}

.nav-bar {
    border-bottom: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #686A9F;
    color: white;
    grid-area: nav;
    height: 5%;
}

a:link {
    text-decoration: none;
    color: white;
}

.inventory-grid {
    padding: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* border: solid gray 1px; */
    height: 95vh;
    justify-content: center;
}

.grid-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 76%;
    margin-left: 12%;

}

.inventory-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.category-list {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    padding: 2px 5px;
    text-decoration: none;
    border: none;
    background-color: #e7e7e7;
    border-radius: 3px;
}
button:hover {
    background-color: #CECECE;
}

input {
    width: 75%;
    text-decoration: none;
    border-radius: 3px;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    padding: 5px 8px;
    margin: 1px;
}

textarea {
    max-width: 75%;
    width: 75%;
    height: 75px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    padding: 5px 8px;
    margin: 2px;
}

p {
    color: #e7e7e7;
}

h5{
    color: #e7e7e7;
}

#edit {
    background: url(https://i.imgur.com/UKKRKdL.png);
    width: 32px;
    height: 32px;
}

#delete {
    background:  url(https://i.imgur.com/6LSXscg.png);
    width: 32px;
    height: 32px;
}
img {
    image-rendering: pixelated;
}